$body-color = #222222
$header-line-color = #35101A
$title-color = #CA314D
$description-color = #FDF2E4
$header-li-color = #CA314D
$body-link-hover-color = #CA314D
$link-article-color = #CA314D

$background-color = #f7f6f5

$cu-font-family = -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
