script(src='//cdn.bootcss.com/Han/3.3.0/han.min.js')
script(src='//cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
script(src='//cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
script.
    $(function() {
        $("header").backstretch("http://img.hb.aicdn.com/ebbcd361ff1d0a76c5019d65f69e97f2e538b04520f5c5-sh6clr_fw658");
    });